<div th:fragment="header">
   <div class="d-flex-colum flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white botton border-bottom">
       <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Главная</a>
            <a class="p-2 text-dark" href="/blog">Блог</a>
            <a class="p-2 text-dark" href="about">Про нас</a>

        </nav>
   </div>

</div>